<a href="https://colab.research.google.com/github/shimaa83/data_analysis_thanwayaAma/blob/main/multi_user_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#using beutiful soup to make response more organized and can easily scrap content
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
####normal method
#first type using post method
#http://natega.dostor.org/Home/Result
import requests
def response_result(seatno): 
  headers = {'Referer': 'http://natega.dostor.org/' }
  data = {'seating_no': seatno}
  response = requests.post(f'http://natega.dostor.org/Home/Result',headers=headers, data=data, verify=False)
  return print_result(response)

In [66]:
def print_result(response):
  try:
    soup=BeautifulSoup(response.content)
    department=soup.find_all( attrs={'class': 'resultItem'})[9].find_all('span')[1].get_text()
    if(department==' أدبي'):
       math=''
       chimestry=''
       biology=''
       giology=''
       applied_math=''
       physics=''
       history=float(soup.find_all( attrs={'class': 'resultItem'})[14].find_all('span')[1].get_text())
       geographic=float(soup.find_all( attrs={'class': 'resultItem'})[15].find_all('span')[1].get_text())
       philosophy=float(soup.find_all( attrs={'class': 'resultItem'})[16].find_all('span')[1].get_text())
       sociology=float(soup.find_all( attrs={'class': 'resultItem'})[17].find_all('span')[1].get_text())
    if(department==' علمي رياضة'):
       math=[float(soup.find_all( attrs={'class': 'resultItem'})[13].find_all('span')[1].get_text())]
       history=''
       geographic=''
       philosophy=''
       sociology=''
       chimestry=float(soup.find_all( attrs={'class': 'resultItem'})[18].find_all('span')[1].get_text())
       biology=''
       giology=float(soup.find_all( attrs={'class': 'resultItem'})[20].find_all('span')[1].get_text())
       applied_math=float(soup.find_all( attrs={'class': 'resultItem'})[21].find_all('span')[1].get_text())
       physics=float(soup.find_all( attrs={'class': 'resultItem'})[22].find_all('span')[1].get_text())
    if(department==' علمي علوم'):
       math=''
       history=''
       geographic=''
       philosophy=''
       sociology=''
       chimestry=float(soup.find_all( attrs={'class': 'resultItem'})[18].find_all('span')[1].get_text())
       biology=float(soup.find_all( attrs={'class': 'resultItem'})[19].find_all('span')[1].get_text())
       giology=float(soup.find_all( attrs={'class': 'resultItem'})[20].find_all('span')[1].get_text())
       applied_math=''
       physics=float(soup.find_all( attrs={'class': 'resultItem'})[22].find_all('span')[1].get_text())
  #store results in dataframe
    result =  pd.DataFrame()
    result['name']=[soup.find(id='pills-tab', attrs = {'class':"nav-pills mb-3"}).find_all('span')[1].get_text()]
    result['percentage']=[float(soup.find_all( attrs={'class': 'resultItem'})[2].find_all('h1')[0].get_text().split(maxsplit=1)[0])]
    result['total']=[float(soup.find_all( attrs={'class': 'col resultItem'})[1].find_all('h1')[0].get_text())]
    result['seatno']=[int(soup.find_all( attrs={'class': 'col resultItem'})[0].find_all('h1')[0].get_text())]
    result['school']=soup.find_all( attrs={'class': 'resultItem'})[4].find_all('span')[1].get_text()
    result['education_department']=soup.find_all( attrs={'class': 'resultItem'})[5].find_all('span')[1].get_text()
    result['no_fail_subject']=soup.find_all( attrs={'class': 'resultItem'})[6].find_all('span')[1].get_text()
    result['status']=soup.find_all( attrs={'class': 'resultItem'})[7].find_all('span')[1].get_text().split()[0]
    result['department']=soup.find_all( attrs={'class': 'resultItem'})[9].find_all('span')[1].get_text()
    result['arabic']=[float(soup.find_all( attrs={'class': 'resultItem'})[10].find_all('span')[1].get_text())]
    result['first_lang']=[float(soup.find_all( attrs={'class': 'resultItem'})[11].find_all('span')[1].get_text())]
    result['second_lang']=[float(soup.find_all( attrs={'class': 'resultItem'})[12].find_all('span')[1].get_text())]
    result['math']=math
    result['chimestry']=chimestry
    result['biology']=biology
    result['giology']=giology
    result['applied_math']=applied_math
    result['physics']=physics
    result['history']=history
    result['geographic']=geographic
    result['philosophy']=philosophy
    result['sociology']=sociology
    result['total']=[float(soup.find_all( attrs={'class': 'resultItem'})[23].find_all('span')[1].get_text())]
    return result
  except:
     return

/usr/lib/python3.7/tokenize.py:567: RuntimeWarning: coroutine 'ClientSession._request' was never awaited
  yield TokenInfo(INDENT, line[:pos], (lnum, 0), (lnum, pos), line)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

SyntaxError: ignored

In [ ]:
df = pd.DataFrame()
df2= pd.DataFrame()
for x in range(222221,222229):
   df=response_result(x)
  # print(df)
   df2 =pd.concat([df,df2])
df2.to_csv('/content/drive/MyDrive/baba/file.csv',encoding='utf-8-sig')

In [ ]:
import time
print("the average time per call of Synchronous Approach (Sequential): ")
%timeit response_result(222222)

the average time per call of Synchronous Approach (Sequential):
262 ms ± 23.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [14]:
from tqdm import tqdm
#second way
#Synchronous Approach 
def second_way(seat_no):
  df = pd.DataFrame()
  df2= pd.DataFrame()
  for x in tqdm(seat_no):
      df=response_result(x)
  # print(df)
      df2 =pd.concat([df,df2])
  df2.to_csv('/content/drive/MyDrive/baba/file.csv',encoding='utf-8-sig')
  return df2

In [ ]:
start = time.time()
seat_no = range(222222,222260)
x = second_way(seat_no)
x.head()

100%|██████████| 38/38 [00:13<00:00,  2.82it/s]

,name,percentage,total,seatno,school,education_department,no_fail_subject,status,department,arabic,...,math,chimestry,biology,giology,applied_math,physics,history,geographic,philosophy,sociology
0,مونيا محمد حسن احمد,50.73,208.0,222255,منازل لغات إدارة الشروق,الشروق,,ناجح,أدبي,42.0,...,,,,,,,30.0,30.0,31.0,30.0
0,فرح باسل محمد محمود,51.95,213.0,222252,طلائع الامل الاسلامية لغات(ث),الشروق,,ناجح,علمي علوم,40.0,...,,30.0,30.0,30.0,,30.0,,,,
0,نورهان تامر شوقى السيد,54.88,225.0,222243,منارة الشروق (ث),الشروق,,ناجح,علمي علوم,40.0,...,,30.0,30.0,30.0,,30.0,,,,
0,سهر عصام عبد الغفار عبد المنعم محمد,62.20,255.0,222242,منارة الشروق (ث),الشروق,,ناجح,علمي علوم,56.0,...,,30.0,33.0,30.0,,30.0,,,,
0,نور بسام سيد على,58.54,240.0,222239,منارة الشروق (ث),الشروق,,ناجح,أدبي,51.0,...,,,,,,,30.0,31.0,30.0,39.0

In [ ]:
end =  time.time()
print(f"The time needed to run {len(seat_no)} of Synchronous Approach (Sequential) processes is {end - start} seconds")

The time needed to run 38 of Synchronous Approach (Sequential) processes is 13.51745319366455 seconds

In [3]:
#Asynchronous 
#third way and the fastest way 
import asyncio
import aiohttp
import time
import gc
import attr

In [52]:
start = time.time()

In [67]:
# first initiat the task as coroutines
def get_tasks(session, seats):
    tasks = []
    for i in seats:
        data = {'seating_no': str(i)}
        headers = {'referer': 'https://natega.dostor.org/'}
        url = "https://natega.dostor.org/Home/Result"
        tasks.append(session.post(url=url, headers=headers, data=data, ssl=False))
    return tasks

In [68]:
async def get_multi_scores_async_conc(seats):
    async with aiohttp.ClientSession() as session:
        results = pd.DataFrame()
        tasks = get_tasks(session, seats)
        responses = await asyncio.gather(*tasks)
        for response in responses:
            results = pd.concat([results, print_result(await response.text())], ignore_index=True)
    return results

In [69]:
start = time.time()

In [75]:
df2= pd.DataFrame()
seats = range(222100,222150)
df2 = await get_multi_scores_async_conc(seats)
df2.to_csv('/content/drive/MyDrive/baba/file.csv',encoding='utf-8-sig')

In [71]:
end = time.time()
print(f"The time needed to run {len(seats)} of Asynchronous concurrent processes is {end - start} seconds")

The time needed to run 50 of Asynchronous concurrent processes is 33.78591346740723 seconds